*.h5 filter=lfs diff=lfs merge=lfs -text
losses/models/KonCept224/k224_best_weights.h5 filter=lfs diff=lfs merge=lfs -text
losses/models/KonCept512/k512_best_weights.h5 filter=lfs diff=lfs merge=lfs -text
